---
import Layout from '../../layouts/Layout.astro';
import CardFolder from '../../components/cards/CardFolder.astro';
import { formatDate, tabToggles } from '../../utility/utils';

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import '../../utility/styles/card-styles.css';

import placeholderImage from "./abstract_daughter.png";

// import { sortEntries, sortByCreationDate, sortByUploadDate } from '../../../utility/utils';

const entries = await getCollection("entries");           

const galleryEntries = entries.filter((entry => entry.data.gallery === true));

const originalEntries = galleryEntries.filter((entry => entry.data.tags.includes("original")));
const fanartEntries = galleryEntries.filter((entry => entry.data.tags.includes("fanart")));

// const sketchEntries = galleryEntries.filter((entry => entry.data.tags.includes("sketchbook")));
// const sketchAnalog = 
// const studyEntries = galleryEntries.filter((entry => entry.data.tags.includes("study")));

function filterEntries(entries) {
    
}


// const commissionEntries = galleryEntries.filter((entry => entry.data.tags.includes("commission")));
// const personalEntries = galleryEntries.filter((entry) => {
//     if (entry.data.tags.includes("personal")) {
//         console.log("no");
//         return entry;
//     }});

---

<Layout title="GALLERY">

    <main>
        <h1>GALLERY</h1>

            <div class="gallery-card" id="display">
                <div class="image">
                    <!-- <h2>GALLERY</h2> -->
                    <figure>
                        <Image class="full-size"
                            src={placeholderImage}
                            alt=""
                        />
                        <figcaption>
                            <p class="title">NAVIGATION</p>
                            
                            <p>click on the <b>tabs</b> to navigate between sections, the <b>thumbnails</b> to view the full images, and the <b>images</b> to open them in a new tab</p>

                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="folder-wrapper">

                <CardFolder
                    tabTitle="ILLUSTRATION"
                    index={true}
                >
                    <h3>PERSONAL</h3>
                    <div class="thumbnail-container">
                        { originalEntries.map((entry) => (
                            <a href="#display">
                                <div class="image">
                                    <figure>
                                        <button class="thumbnail" aria-label={`${entry.data.title} thumbnail`}>
                                            <Image class="thumb"
                                                src={entry.data.thumb.src}
                                                alt=""
                                            />
                                            <div class="ratings">
                                                {entry.data.Nsfw && <i class="fa-solid fa-ban" aria-label="adult content"></i>}
                                                {entry.data.Dd && <i class="fa-solid fa-feather" aria-label="sensitive content"></i>}
                                            </div>
                                        </button>
                                        <Image class="full-size"
                                                src={entry.data.image.src}
                                                alt={entry.data.image.alt}
                                        />
                                        <figcaption>
                                            <p class="title">{entry.data.title}</p>
                                            <p>{entry.data.desc}</p>
                                            <p><b>{entry.data.medium}<br/>{formatDate(entry.data.date)}</b></p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>
                        ))}
                    
                    </div>

                    <h3>FANWORKS</h3>
                    <div class="thumbnail-container">
                        { fanartEntries.map((entry) => (
                            <a href="#display">
                                <div class="image">
                                    <figure>
                                        <button class="thumbnail">
                                            <Image class="thumb"
                                                src={entry.data.thumb.src}
                                                alt="alt"
                                            />
                                        </button>
                                        <Image class="full-size"
                                                src={entry.data.image.src}
                                                alt="alt"
                                        />
                                        <figcaption>
                                            <p class="title">{entry.data.title}</p>
                                            <p>{entry.data.desc}</p>
                                            <p><b>{entry.data.medium}<br/>{formatDate(entry.data.date)}</b></p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>
                        ))}
                    </div>
                </CardFolder>

                <CardFolder
                    tabTitle="SKETCHBOOK"
                    index={false}
                >
                    <p>lorem ipsum dolor sit amet</p>
                    <p>some extra text to push this "tab" up because i'm good like that</p>
                </CardFolder>

                <CardFolder
                    tabTitle="COMMISSIONS"
                    index={false}
                >
                    <p class="card-p">this is where my commissions would go... if i uploaded them</p>
                </CardFolder>
                
                <CardFolder
                    tabTitle="STUDIES"
                    index={false}
                >
                    <p>lorem ipsum</p>
                </CardFolder>

            </div>

    
</main>

</Layout>

<style>

    h1 {
        margin-block: 2em;
    }

    .gallery-card {
		background-color: #fff;
        margin: 1em 1em 2em 1em;
        border: 2px solid #000;
        border-radius: 0.75rem;
        overflow: hidden;
	}

    .gallery-card button {
        display: none;
    }

    .gallery-card img {
		height: auto;
		max-height: 80vh;
		width: auto;
        margin-bottom: 3em;
    }

    .gallery-card figcaption {
        margin-inline: auto;
        max-width: 500px;
    }

    .thumbnail-container h2 {
        display: none;
    }

    .ratings {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 0.25em;
        top: 0.25em;
        right: 0.25em;
        justify-content: right;
    }

    .thumb {
        opacity: 33%;
        transform: opacity 750ms ease;
    }

    .thumb:hover {
        opacity: 100%;
        outline: 2px var(--primary-accent-clr) solid;
    }

    .gallery-card figure {
        margin: 3em 1em;
    }
    

    .folder-wrapper .full-size,
    .folder-wrapper figcaption {
        display: none;
    }
    

    figcaption {
        text-align: center;
        display: grid;
        gap: 1em;
    }

    figcaption b {
        text-transform: uppercase;
    }

    .title {
        font-family: var(--display);
        text-transform: uppercase;
        font-size: 1.325rem;
    }


    .full-size {
        max-width: 100%;
        height: auto;
        margin: auto;
    }
    
    .body {
        display: flex;
        padding: 1em;
        border: solid 2px var(--primary-clr-dark);		
        border-radius: 0em 0em 1em 1em;
    }

    .thumbnail-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        margin: 3em auto;
    }

    .thumbnail {
        padding: 0;
        background: transparent;
        outline: none;
        border-radius: 1em 1em;
        position: relative;
        height: 75px;
        width: 75px;
    }
    
    .thumbnail > * {
        margin: auto;
        border-radius: 0.75em;
        height: auto;
    }

    .description {
		margin: 0em 1em;
		display: grid;
		gap: 1em;
	}

    .flex {
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

    .icons {
		display: flex;
		gap: 0.25em;
        padding-top: 0.4em;
	}

    .date {
		font-family: var(--display);
		text-transform: uppercase;
		font-size: 1.25em;
        margin: 0;
	}

        @media all and (min-width: 780px) {

            .thumbnail {
                height: 100px;
                width: 100px;
            }
            
        }
        
        @media all and (min-width: 1000px) {
            

            .gallery-card,
            .folder-wrapper {
                max-width: 1000px;
                margin: auto;
            }

            .gallery-card {
                margin-bottom: 2em;
            }
            
            .tabs {
                flex-flow: row;
                width: fit-content;
            }
            
        }

</style>

<script>
import { tabToggles } from "../../utility/utils";


const thumbnails = document.querySelectorAll('.thumbnail-container .image');
const fullsizeDisplay = document.querySelector('.gallery-card .image');

thumbnails.forEach(thumbnail => {
    thumbnail.addEventListener('click', function() {
        const thumbFig = thumbnail.querySelector("figure");
        const fullsizeFig = fullsizeDisplay?.querySelector("figure");
        // const thumbTitle = thumbnail.querySelector("h2");
        // const fullsizeTitle = fullsizeDisplay?.querySelector("h2");
        if (!thumbFig || !fullsizeFig) {
            return;
        }
        fullsizeDisplay?.replaceChild(thumbFig.cloneNode(true), fullsizeFig);
    })
})

</script>