---
import Layout from '../../layouts/Layout.astro';
import CardFolder from '../../components/cards/CardFolder.astro';
import { formatDate } from '../../utility/scripts/format-fxn.js';

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import GalleryThumbs from "../../components/GalleryThumbs.astro";

import '../../utility/styles/card-styles.css';


import CardConstruction from '../../components/cards/CardConstruction.astro';

import placeholderImage from "./abstract_daughter.png";

// import { sortEntries, sortByCreationDate, sortByUploadDate } from '../../../utility/utils';

const entries = await getCollection("entries");           

const galleryEntries = entries.filter((entry => entry.data.gallery === true));

const originalEntries = galleryEntries.filter((entry => entry.data.tags.includes("original")));
const fanartEntries = galleryEntries.filter((entry => entry.data.tags.includes("fanart")));

// const sketchEntries = galleryEntries.filter((entry => entry.data.tags.includes("sketchbook")));
// const sketchAnalog = 
// const studyEntries = galleryEntries.filter((entry => entry.data.tags.includes("study")));

function filterEntries(entries) {}

// const commissionEntries = galleryEntries.filter((entry => entry.data.tags.includes("commission")));
// const personalEntries = galleryEntries.filter((entry) => {
//     if (entry.data.tags.includes("personal")) {
//         console.log("no");
//         return entry;
//     }});

---

<Layout title="GALLERY">

    <main>
        <h1>GALLERY</h1>
        <CardConstruction>
            <p>this page is currently under construction.</p>
            <button style="min-width:fit-content; margin-block: 0.5em"><a href="/works/gallery">VIEW ORIGINAL</a></button>
        </CardConstruction>

            <div class="gallery-card" id="display">
                <div class="image">
                    <!-- <h2>GALLERY</h2> -->
                    <figure>
                        <Image class="full-size"
                            src={placeholderImage}
                            alt=""
                        />
                        <figcaption>
                            <p class="title">NAVIGATION</p>
                            
                            <p>click on the <b>tabs</b> to navigate between sections, the <b>thumbnails</b> to view the full images, and the <b>images</b> to open them in a new tab</p>

                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="folder-wrapper">

                <CardFolder
                    tabTitle="ILLUSTRATION"
                    index={true}
                >
                    <h4>PERSONAL</h4>
                    <div class="thumbnail-container">
                        { originalEntries.map((entry) => (
                            <a href="#display">
                                <GalleryThumbs
                                        title={entry.data.title}
                                        thumb={entry.data.thumb.src}
                                        date={entry.data.date}
                                        Nsfw={entry.data.Nsfw}
                                        Dd={entry.data.Dd}
                                        desc={entry.data.desc}
                                        original={entry.data.original}
                                        medium={entry.data.medium}
                                        image={entry.data.image.src}
                                        thumb={entry.data.thumb.src}
                                        src={entry.data.image.src.src}
                                />
                                </a>
                            ))}
                        </div>

                    <h4>FANWORKS</h4>
                    <div class="thumbnail-container">
                        { originalEntries.map((entry) => (
                            <a href="#display">
                                <GalleryThumbs
                                        title={entry.data.title}
                                        thumb={entry.data.thumb.src}
                                        date={entry.data.date}
                                        Nsfw={entry.data.Nsfw}
                                        Dd={entry.data.Dd}
                                        desc={entry.data.desc}
                                        original={entry.data.original}
                                        medium={entry.data.medium}
                                        image={entry.data.image.src}
                                        thumb={entry.data.thumb.src}
                                        src={entry.data.image.src.src}
                                />
                            </a>
                        ))}

                    </div>
                </CardFolder>

                <CardFolder
                    tabTitle="SKETCHBOOK"
                    index={false}
                >
                    <p>lorem ipsum dolor sit amet</p>
                    <p>some extra text to push this "tab" up because i'm good like that</p>
                </CardFolder>

                <CardFolder
                    tabTitle="COMMISSIONS"
                    index={false}
                >
                    <p class="card-p">this is where my commissions would go... if i uploaded them</p>
                </CardFolder>
                
                <CardFolder
                    tabTitle="STUDIES"
                    index={false}
                >
                    <p>lorem ipsum</p>
                </CardFolder>

            </div>

    
</main>

</Layout>

<style>


</style>

<script>


const thumbnails = document.querySelectorAll('.thumbnail-container .image');
const fullsizeDisplay = document.querySelector('.gallery-card .image');

thumbnails.forEach(thumbnail => {
    thumbnail.addEventListener('click', function() {
        const thumbFig = thumbnail.querySelector("figure");
        const fullsizeFig = fullsizeDisplay?.querySelector("figure");
        // const thumbTitle = thumbnail.querySelector("h2");
        // const fullsizeTitle = fullsizeDisplay?.querySelector("h2");
        if (!thumbFig || !fullsizeFig) {
            return;
        }
        fullsizeDisplay?.replaceChild(thumbFig.cloneNode(true), fullsizeFig);
    })
})

</script>