---
import Layout from '../../layouts/Layout.astro';
import CardFolder from '../../components/cards/CardFolder.astro';
import { formatDate } from '../../utility/scripts/format-fxn.js';

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import GalleryThumbs from "../../components/GalleryThumbs.astro";

import '../../utility/styles/card-styles.css';
import '../../utility/styles/wrapper-styles.css';

import CardConstruction from '../../components/cards/CardConstruction.astro';

import placeholderImage from "./abstract_daughter.png";

// import { sortEntries, sortByCreationDate, sortByUploadDate } from '../../../utility/utils';

const entries = await getCollection("entries");        

const galleryEntries = entries.filter((entry => entry.data.gallery === true)).toReversed();

let illustEntries = galleryEntries.filter(e => 
    !e.data.tags.includes("sketchbook")
    && !e.data.tags.includes("study")
    && !e.data.tags.includes("commission"));

let illustOriginal = illustEntries.filter(e => e.data.original === true);
let illustFanart = illustEntries.filter(e => e.data.original === false);

let sketchEntries = galleryEntries.filter((entry => entry.data.tags.includes("sketchbook")));
const sketchDigital = sketchEntries.filter((entry => entry.data.tags.includes("digital")));
const sketchAnalog = sketchEntries.filter((entry => entry.data.tags.includes("analog")));

const studyEntries = galleryEntries.filter((entry => entry.data.tags.includes("study")));
const studyDigital = studyEntries.filter((entry => entry.data.tags.includes("digital")));
const studyAnalog = studyEntries.filter((entry => entry.data.tags.includes("analog")));

const commEntries = galleryEntries.filter((entry => entry.data.tags.includes("commission")));
const commSimple = commEntries.filter((entry => entry.data.commission === "simple"));
const commFull = commEntries.filter((entry => entry.data.commission === "full"));
---

<Layout title="GALLERY">

    <main>

        <section>
            <h1>GALLERY</h1>

                <div class="card gallery-card main-display" id="display">
                    <div class="image">
                        <h1 class="card-title">
                            <i class="fas fa-image" aria-hidden="true"></i>
                            <span>DISPLAY</span>
                        </h1>
                        <figure>
                            <Image class="full-size"
                                src={placeholderImage}
                                alt=""
                            />
                            <figcaption>
                                <p class="title">NAVIGATION</p>
            
                                <p>click on the <b>tabs</b> to navigate between sections, the <b>thumbnails</b> to view the full images, and the <b>images</b> to open them in a new tab</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="folder-wrapper">
                    <div class="folder">
                        <CardFolder
                            tabTitle="ILLUSTRATION"
                            id="illustration"
                            index={true}
                        >
                            <h4>PERSONAL</h4>
                            <div class="thumbnail-container">
                                { illustOriginal.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                                title={entry.data.title}
                                                thumb={entry.data.thumb.src}
                                                date={entry.data.date}
                                                Nsfw={entry.data.Nsfw}
                                                Dd={entry.data.Dd}
                                                desc={entry.data.desc}
                                                icons={entry.data.icons}
                                                original={entry.data.original}
                                                medium={entry.data.medium}
                                                image={entry.data.image.src}
                                                thumb={entry.data.thumb.src}
                                                src={entry.data.image.src.src}
                                        />
                                    </a>
                                ))}
                            </div>
                            <h4>FANWORKS</h4>
                            <div class="thumbnail-container">
                                { illustFanart.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                                title={entry.data.title}
                                                thumb={entry.data.thumb.src}
                                                date={entry.data.date}
                                                Nsfw={entry.data.Nsfw}
                                                Dd={entry.data.Dd}
                                                icons={entry.data.icons}
                                                desc={entry.data.desc}
                                                original={entry.data.original}
                                                medium={entry.data.medium}
                                                image={entry.data.image.src}
                                                thumb={entry.data.thumb.src}
                                                src={entry.data.image.src.src}
                                        />
                                    </a>
                                ))}
                            </div>
                        </CardFolder>
                        <CardFolder
                            tabTitle="SKETCHBOOK"
                            id="sketchbook"
                            index={false}
                        >
                            <h4>DIGITAL</h4>
                            <div class="thumbnail-container">
                                { sketchDigital.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                                title={entry.data.title}
                                                thumb={entry.data.thumb.src}
                                                date={entry.data.date}
                                                Nsfw={entry.data.Nsfw}
                                                Dd={entry.data.Dd}
                                                icons={entry.data.icons}
                                                desc={entry.data.desc}
                                                original={entry.data.original}
                                                medium={entry.data.medium}
                                                image={entry.data.image.src}
                                                thumb={entry.data.thumb.src}
                                                src={entry.data.image.src.src}
                                        />
                                        </a>
                                    ))}
                            </div>
                            <h4>ANALOG</h4>
                            <div class="thumbnail-container">
                                { sketchAnalog.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                                title={entry.data.title}
                                                thumb={entry.data.thumb.src}
                                                date={entry.data.date}
                                                Nsfw={entry.data.Nsfw}
                                                Dd={entry.data.Dd}
                                                icons={entry.data.icons}
                                                desc={entry.data.desc}
                                                original={entry.data.original}
                                                medium={entry.data.medium}
                                                image={entry.data.image.src}
                                                thumb={entry.data.thumb.src}
                                                src={entry.data.image.src.src}
                                        />
                                        </a>
                                    ))}
                            </div>
                        </CardFolder>
                        <CardFolder
                            tabTitle="COMMISSIONS"
                            id="commissions"
                            index={false}
                        >
                            <h4>SIMPLE COLOR</h4>
                            <div class="thumbnail-container">
                                { commSimple.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                                title={entry.data.title}
                                                thumb={entry.data.thumb.src}
                                                date={entry.data.date}
                                                Nsfw={entry.data.Nsfw}
                                                Dd={entry.data.Dd}
                                                desc={entry.data.desc}
                                                icons={entry.data.icons}
                                                original={entry.data.original}
                                                medium={entry.data.medium}
                                                image={entry.data.image.src}
                                                thumb={entry.data.thumb.src}
                                                src={entry.data.image.src.src}
                                        />
                                    </a>
                                ))}
                            </div>
                            <h4>FULL COLOR</h4>
                            <div class="thumbnail-container">
                                { commFull.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                            title={entry.data.title}
                                            thumb={entry.data.thumb.src}
                                            date={entry.data.date}
                                            Nsfw={entry.data.Nsfw}
                                            Dd={entry.data.Dd}
                                            icons={entry.data.icons}
                                            desc={entry.data.desc}
                                            original={entry.data.original}
                                            medium={entry.data.medium}
                                            image={entry.data.image.src}
                                            thumb={entry.data.thumb.src}
                                            src={entry.data.image.src.src}
                                        />
                                    </a>
                                ))}
                            </div>
                            <div class="button-wrapper">
                                <button>
                                    <a href="/archive/tagged/commission">VIEW MORE</a>
                                </button>
                            </div>
                            <p style="text-align:center"><b>commissions are currently open!</b> click <a href="/commissions">here</a> for more information.</p>
                        </CardFolder>
            
                        <CardFolder
                            tabTitle="STUDIES"
                            id="studies"
                            index={false}
                        >
                            <h4>DIGITAL</h4>
                            <div class="thumbnail-container">
                                { studyDigital.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                            title={entry.data.title}
                                            thumb={entry.data.thumb.src}
                                            date={entry.data.date}
                                            Nsfw={entry.data.Nsfw}
                                            Dd={entry.data.Dd}
                                            desc={entry.data.desc}
                                            icons={entry.data.icons}
                                            original={entry.data.original}
                                            medium={entry.data.medium}
                                            image={entry.data.image.src}
                                            thumb={entry.data.thumb.src}
                                            src={entry.data.image.src.src}
                                        />
                                    </a>
                                ))}
                            </div>
                            <h4>ANALOG</h4>
                            <div class="thumbnail-container">
                                { studyAnalog.map((entry) => (
                                    <a href="#display">
                                        <GalleryThumbs
                                            title={entry.data.title}
                                            thumb={entry.data.thumb.src}
                                            date={entry.data.date}
                                            Nsfw={entry.data.Nsfw}
                                            Dd={entry.data.Dd}
                                            icons={entry.data.icons}
                                            desc={entry.data.desc}
                                            original={entry.data.original}
                                            medium={entry.data.medium}
                                            image={entry.data.image.src}
                                            thumb={entry.data.thumb.src}
                                            src={entry.data.image.src.src}
                                        />
                                    </a>
                                ))}
                            </div>
                        </CardFolder>
                    </div>
                </div>
        </section>
    
    </main>

</Layout>

<script>

const galleryDisplay = document.getElementById('display');
const thumbnails = document.querySelectorAll('.thumb-wrapper');

thumbnails.forEach(thumbnail => {
    thumbnail.addEventListener('click', function() {
        const thumbImage = thumbnail.querySelector(".image");
        const displayImage = galleryDisplay?.querySelector(".image");
        console.log(displayImage)
        if (!thumbImage || !displayImage) {
            return;
        }
        galleryDisplay?.replaceChild(thumbImage.cloneNode(true), displayImage);
    })
})





// const thumbnails = document.querySelectorAll('.thumbnail-container .gallery-image');
// const fullsizeDisplay = document.querySelector('.gallery-card .image');

// thumbnails.forEach(thumbnail => {
//     thumbnail.addEventListener('click', function() {
//         const thumbFig = thumbnail.querySelector("figure");
//         const fullsizeFig = fullsizeDisplay?.querySelector("figure");
//         if (!thumbFig || !fullsizeFig) {
//             return;
//         }
//         fullsizeDisplay?.replaceChild(thumbFig.cloneNode(true), fullsizeFig);
//     })
// })

</script>