---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from '../../layouts/Layout.astro';
import CardProjects from "../../components/cards/CardProjects.astro";
import CardPreview from '../../components/cards/CardPreview.astro';
import Navbar from '../../components/Navbar.astro';
import { sortByUploadDate } from '../../utility/utils';


const entries = await getCollection("entries");
const projects = await getCollection("projects")

---

<Layout title="WORKS">

<Navbar />

	<main>
		<h1>WORKS</h1>
		<section>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, et officia doloribus amet quia asperiores sapiente officiis dolorum, facere iure, tenetur hic praesentium.</p>
		</section>

		<section>
			<h2>RECENT ARCHIVE ENTRIES</h2>
				<div class="card-masonry">
					{ entries.sort(sortByUploadDate).slice(0, 6).map((entry) =>
						<CardPreview
							slug={entry.slug}
							title={entry.data.title}
							date={entry.data.date}
							thumb={entry.data.thumb.src}
							desc={entry.data.desc}
							Nsfw={entry.data.Nsfw}
							Dd={entry.data.Dd}
							/>
					)}
				</div>
			<a class="visit" href="./archive">VIEW MORE <i class="fas fa-angles-right"></i></a>
		</section>

		<section>
			<h2>GALLERY</h2>
				<a href="">
					<div class="gallery-grid">
						{ entries.map((entry) =>
								entry.data.gallery &&
								<Image class="thumb"
									src={entry.data.thumb.src}
									alt={`${entry.data.title} thumbnail`}
								/>
						)}
					</div>
				</a>
			<a class="visit" href="">VISIT <i class="fas fa-angles-right"></i></a>
		</section>


		<section>
			<h2>PROJECTS</h2>
				<div class="grid-masonry">
					{ projects.map((project) =>
						<CardProjects
							slug={project.slug}
							href={project.data.href}
							title={project.data.title}
							desc={project.data.desc}
							createDate={project.data.createDate}
							finishDate={project.data.finishDate}
							categories={project.data.categories}
							featured={project.data.featured}
							collab={project.data.collab}
							Nsfw={project.data.Nsfw}
							Dd={project.data.Dd}
							icons={project.data.icons}
							/>
					)}
				</div>
			<a class="visit" href="">VIEW MORE <i class="fas fa-angles-right"></i></a>
		</section>

	</main>

</Layout>

<style>
	

	ul {
		padding: 0;
		margin: 1em;
	}
	section {
		margin: 3em 0;
		text-align: center;
	}

	section:last-child {
		margin-bottom: 2.75em;
		text-align: center;
	}

	section p {
		margin: 1em;
		max-width: 800px;
	}



	section:last-child {
		margin-bottom: 0.25em;
	}

	section:last-child::after {
		margin-bottom: 0em;
	}

	section p {
		margin: 1em;
		max-width: 800px;
	}

	.gallery-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1em;
		align-items: center;
		justify-content: center;
		margin: 3em auto;
		max-width: 600px;
	}

	.card-masonry {
		margin: 3em auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		gap: 1.5em;
		height: 100%;
	}

	.grid-masonry {
		margin: 3em auto;
		display: flex;
		flex-direction: column;
		gap: 1.5em;
	}

	.thumb {
		max-width: 100px;
		max-height: 100px;
		border-radius: 0.5em;
	}

	.visit {
		margin: auto;
		font-size: 2rem;
		color: var(--primary-clr-dark);
		text-align: center;
		font-family: var(--display);
		text-decoration: none;
		transition: var(--link-transition);
	}

	.visit .fas {
		font-size: 0.8em;
	}

	.visit:hover {
		color: var(--primary-accent-clr)
	}

@media all and (min-width: 700px) {

	section {
		margin: 3em auto;
	}

	section p {
		margin: auto;
	}

	.card-masonry {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 800px;
	}
	
	.grid-masonry {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 800px;
	}

}

@media all and (min-width: 1000px) {}

@media all and (min-width: 1200px) {}

</style>
