---
import Layout from '../../layouts/ArchiveLayout.astro';
import CardL from '../../components/CardL.astro';
import Pagination from '../../components/Pagination.astro';

import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

import { sortEntries, sortByCreationDate, sortByUploadDate } from '../../utility/utils';

export const getStaticPaths = (async ( { paginate } ) => {
    const entries = await getCollection("entries");
	const sortedEntries = entries.sort(sortByCreationDate).toReversed();
    return paginate(sortedEntries, {
        pageSize: 5,
    })
}) satisfies GetStaticPaths;

const { page } = Astro.props;

---


<Layout title="ARCHIVE">

<main>

	<ul role="list">
		{
			page.data.map((entry) => 
				<CardL
					slug={entry.slug}
					title={entry.data.title}
					date={entry.data.date}
					thumb={entry.data.thumb.src}
					tags={entry.data.tags}
					desc={entry.data.desc}
					original={entry.data.original}
					medium={entry.data.medium}
					Nsfw={entry.data.Nsfw}
					Dd={entry.data.Dd}
					icons={entry.data.icons}
			/>
		)}
	</ul>

	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />

	</main>

</Layout>

<style>

	main {
		margin: auto;
	}

	ul {
		padding: 0;
		margin: 1em;
		max-width: 800px;
	}

	.card-masonry {
		display: grid;
		gap: 1em;
		max-width: 100%;
	}

@media all and (min-width: 700px) {

	.card-masonry {
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	ul {
		padding: 0 1em;
		margin: auto;
	}

}

@media all and (min-width: 1000px) {

	.card-masonry {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media all and (min-width: 1200px) {
		
		.card-masonry {
			grid-template-columns: repeat(4, 1fr);
		}
	
	}

</style>
