---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { formatDate } from "../../utility/scripts/format-fxn.js";

import "../../utility/styles/card-styles.css"

interface Props {
	slug: string;
	title: string;
	thumb: ImageMetadata;
	date: Date;
	Nsfw?: boolean;
	Dd?: boolean;
	desc: string;
}

const { 
		slug,
		title,
		thumb,
		date,
		Nsfw,
		Dd,
		desc,
		} = Astro.props as Props;
---

<a href={`/archive/entries/${slug}/`}>
	<div class:list={["card", "card-preview"]}>
		<h1 class:list={"card-title"}>{title}</h1>
		<div class:list={"card-body"}>
			<Image class:list={"card-thumbnail"}
				src={thumb}
				alt={`${title} thumbnail`}
			/>
			<div class:list={"description"}>
				<div class:list={"flex-wrapper"}>
					<p class:list={"date"}>{formatDate(date)}</p>
					<div class:list={"content-flags"}>
						{ Nsfw && <i class="fas fa-ban" role="img" aria-label="adult content"></i> }
						{ Dd && <i class="fas fa-feather" role="img" aria-label="dead dove"></i>}
					</div>
				</div>
				<p>{desc}</p>
			</div>
		</div>
	</div>
</a>
