---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { slugify, formatDate } from "../../utility/scripts/format-fxn.js";

import '../../utility/styles/card-styles.css';
import '../../utility/styles/tag-styles.css';

interface Props {
	slug: string;
	title: string;
	thumb: ImageMetadata;
	date: Date;
	Nsfw?: boolean;
	Dd?: boolean;
	desc: string;
	original: boolean;
	medium: string;
	tags: Array<string>;
	icons: Array<string>
}

const { 
	slug,
	title,
	thumb,
	date,
	Nsfw,
	Dd,
	desc,
	tags,
	icons,
} = Astro.props as Props; 

---

<div class="card card-archive">
	<a href={`/archive/entries/${slug}/`}>
		<h1 class="card-title">
			<span>{title}</span>
			<div>
				{icons.map((icon) => (
					<i class:list={[`fas ${(icon)}`]} aria-hidden="true"></i>
				))}
			</div>
		</h1>
	</a>
	<div class="card-body">
		<a href={`/archive/entries/${slug}/`}>
			<Image class="card-thumbnail"
				src={thumb}
				alt={`${title} thumbnail`}
			/>
		</a>
		<div class="description">

			<div class="flex-wrapper">
				<span class="date">{formatDate(date)}</span>
				<div class="content-flags">
					{ Nsfw && <i class="fas fa-ban" role="img" aria-label="adult content"></i> }
					{ Dd && <i class="fas fa-feather" role="img" aria-label="dead dove"></i>}
				</div>
			</div>

			<p>{desc}</p>

			<ul class="tags">
				{tags.map((tag) => (
					<li><a href={`/works/archive/tagged/${slugify(tag)}`}>{tag}</a></li>
				))}
			</ul>
			
		</div>
	</div>
</div>