---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import "../utility/styles/card-styles.css";
import '../utility/styles/scrollbox-styles.css';

import changelog from './about/changelog.json';

import Layout from '../layouts/Layout.astro';
import Card from '../components/cards/Card.astro';

import '../utility/styles/main-styles.css';
import '../utility/styles/aside-styles.css';
import '../utility/styles/card-styles.css';
import '../utility/styles/form-styles.css';
import '../utility/styles/wrapper-styles.css';

const newsletters = await getCollection("newsletters");
const newsletterSlice = newsletters.toReversed().slice(0,3);

import viewport1 from '../utility/image/viewport1.png'
import viewport2 from '../utility/image/viewport2.png'
import viewport3 from '../utility/image/viewport3.png'
// import viewport1 from '../utility/image/viewport1.png'
---

<Layout title="RUDY TUESDAY">

	<div class="three-column">

		<main>

			<section>
				<header>
					<h1>LOOK UPON MY WORKS, YE MIGHTY, AND DESPAIR</h1>
					<p>... nothing beside remains</p>
				</header>
			</section>
	
			<section class="newsletter">
				<h1>NEWS</h1>
				<div class="card-wrapper">
					
					<Card
						title="NEWSLETTER"
						icon="fa-newspaper">
						<div class="scrollbox scrollbox-m scrollbox-light">
							<div class="newsletters">
								{
									newsletterSlice.map(async (newsletter) => {
									  const renderedNewsletter = await newsletter.render();
									  return (
											<article>
												<renderedNewsletter.Content />
											</article>
									  );
									})
								  }
							</div>
							<!-- <button><a href="">READ MORE</a></button> -->
						</div>
						<p><b>enter your email</b> to subscribe to my newsletter where i send out archive, project and site updates, commission openings, and other goodies every few months.</p>
						<form
							action="https://buttondown.com/api/emails/embed-subscribe/rudytuesday"
							method="post"
							target="popupwindow"
							onsubmit="window.open('https://buttondown.com/rudytuesday', 'popupwindow')"
							class="embeddable-buttondown-form"
							>
							<label for="bd-email" class="visually-hidden">Enter your email</label>
							<input type="email" name="email" id="bd-email" placeholder="email@address.com" />
							
							<input type="submit" value="subscribe" />
							<p>powered by <a href="https://buttondown.com/refer/rudytuesday" target="_blank"></a>buttondown</a></p>
						</form>
					</Card>
	
					<Card
						title="CHANGELOG"
						icon="fa-pencil">
						<div class="scrollbox scrollbox-s scrollbox-light">
							<div class="scrollbox-list">
								{changelog.map((change) => {
									return (
										<li>
											<a href={`https://github.com/rudytues-day/archive/commit/${change.id}`} aria-label="external">
												<b>{change.date} :</b> {change.message}<em>{change.details && " — " + `${change.details}` + " "}</em>({change.id.slice(0,6)})
											</a>
										</li>
									)
								})}
							</div>
						</div>
					</Card>

				</div>

			</section>

		</main>

		<aside class="column leftColumn">
			<div class="column-wrapper">
				<Image
					src={viewport1}
					alt=""
					class:list={"viewport"}
				/>
				<h2>LINKS</h2>
				<ul>
					<li><a href="">GITHUB</a></li>
					<li><a href="">CODEPEN</a></li>
					<li><a href="">FEDIVERSE</a></li>
					<li><a href="">BLUESKY</a></li>
					<!-- <li><a href="">TWITTER</a></li> -->
					<li><a href="">POMF.TV</a></li>
				</ul>
			</div>

			<div class="column-wrapper">
				<Image 
					src={viewport2}
					alt=""
					class:list={"viewport"}
				/>
				<h2>SUPPORT ME</h2>
				<ul>
					<li><a href="">KO-FI</a></li>
					<li><a href="">BOOSTY</a></li>
					<li><a href="">COMMISSION</a></li>
				</ul>
			</div>

		</aside>

		<aside class="column rightColumn">
			<div class="column-wrapper">
				<Image 
					src={viewport3}
					alt=""
					style="margin: 3em auto"
				/>
				<h2>ABOUT</h2>
					<p>rudy tuesday is a queer and neurodivergent webMaster, erotic artist and content collector.</p>
					<p>he has no greater achievements or accolades but he does have a very nice website.</p>
					<p><a href="/about">READ MORE <i class="fas fa-angles-right"></i></a></p>
				</div>
		</aside>

	</div>

</Layout>

<style>
	header h1 {
		margin: 1em;
	}

	header {
		text-align: center;
		width: 100%;
		margin-bottom: 4em;
	}

@media all and (min-width: 1250px) {

	.three-column {
		display: grid;
		grid-template-columns: 300px 1fr 300px;
		grid-template-areas: 'left middle right'
	}

	.leftColumn {
		grid-area: left
	}

	.rightColumn {
		grid-area: right;
	}

	main {
		grid-area: middle;
	}

}

</style>
