---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { slugify, formatDate } from "../utility/utils.js";

interface Props {
	slug: string;
	title: string;
	thumb: ImageMetadata;
	date: string;
	Nsfw?: boolean;
	Dd?: boolean;
	classes?: string;
	desc: string;
	medium: string;
	tags: Array<string>;
	original: boolean;
}

const { 
		slug,
		title,
		thumb,
		date,
		Nsfw,
		Dd,
		desc,
		medium,
		original,
		tags,
		} = Astro.props as Props;
---

<li class="card">
	<a href={`/archive/entries/${slug}/`}>
		<h1>{title}</h1>
		<div class="body">
			<Image class="thumb"
				src={thumb}
				alt={`${title} thumbnail`}
			/>
			<div class="description">
				<div class="flex">
					<p class="date">{formatDate(date)}</p>
					<div class="icons">
						{ Nsfw && <i class="fas fa-ban"></i> }
						{ Dd && <i class="fas fa-feather"></i>}
					</div>
				</div>
				<p class="text">{desc}</p>
				<ul class="tags">
					{tags.map((tag) => (
						<li><a href={`/archive/tagged/${slugify(tag)}/`}>{tag}</a></li>
					))}
				</ul>
			</div>
		</div>
	</a>
	</li>

<style>

	.card {
		list-style: none;
	}
	
	h1 {
		margin: 0;
		font-size: 1.5em;
		background-color: var(--primary-clr-dark);
		font-family: var(--display);
		overflow: hidden;
		padding: 0.5em;
		color: var(--white-clr);
		border-radius: 0.75em 0.75em 0em 0em;
		text-align: center;
		transition: ease 0.2s;
	}

	.card:hover h1 {
		color: var(--primary-accent-clr)
	}
	
	.body {
		padding: 1em;
		background: var(--white-clr);
		border: solid 2px var(--primary-clr-dark);		
		border-radius: 0em 0em 1em 1em;
	}
	
	.thumb {
		height: 150px;
		width: 150px;
		margin: 0.5em auto 0em auto;
		border-radius: 0.75em;
	}

	.description {
		margin: 1em;
		display: grid;
		gap: 1em;
	}
	
	.text {
		margin: 1em 0em 0.5em 0em;
		font-size: 0.95em;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}

	.date {
		font-family: var(--display);
		text-transform: uppercase;
		font-size: 1.25em;
        margin: 0;
	}

	.flex {
        display: flex;
        gap: 0.5em;
        align-items: center;
	}

	.icons {
		display: flex;
		gap: 0.25em;
        padding-top: 0.325em;
	}
	
	.tags {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		padding: 0;
		gap: 0.25em;
	}

	.tags li {
		background-color: var(--primary-clr-dark);
		color: var(--white-clr);
		font-family: var(--display);
		text-transform: uppercase;
		padding: 0.125em 0.3em 0.4em 0.3em;
		line-height: 1;
		border-radius: 0.25em;
		transition: ease 0.2s;
	}

	.tags li:hover {
		color: var(--primary-accent-clr)
	}



</style>
