---
import Layout from '../../layouts/Layout.astro';
import CardProjects from '../../components/cards/CardProjects.astro';
import Pagination from '../../components/Pagination.astro';
import '../../utility/styles/main-styles.css';
import '../../utility/styles/wrapper-styles.css';

import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

import { sortByCreationDate } from '../../utility/scripts/sort-fxn.js';

const projects = await getCollection("projects");
export const getStaticPaths = (async ( { paginate } ) => {
    return paginate(projects, {
        pageSize: 6,
    })
}) satisfies GetStaticPaths;

const { page } = Astro.props;

import { render } from 'astro:content';

const byCreationDate = projects.sort(sortByCreationDate);

const featuredProjects = byCreationDate.filter((project => project.data.featured === true))
const otherProjects = byCreationDate.filter((project => project.data.featured === false))
---


<Layout title="PROJECTS">

	<main>

		<section>
			<h1>PROJECTS</h1>
		</section>

		<section>
			<h1>FEATURED</h1>
			<div class="card-wrapper projects-card-wrapper">
				{ featuredProjects.map(async (project) => {
					const { Content } = await render(project);
					return (
						<CardProjects
							slug={project.slug}
							href={project.data.href}
							title={project.data.title}
							thumb={project.data.thumb.src}
							createDate={project.data.createDate}
							finishDate={project.data.finishDate}
							categories={project.data.categories}
							featured={project.data.featured}
							collab={project.data.collab}
							Nsfw={project.data.Nsfw}
							Dd={project.data.Dd}
							icons={project.data.icons}
							>
								<Content />
							</CardProjects>
						)
					}
				)}
			</div>
		</section>
		<section>
			<h1>WEB BASED</h1>
			<div class="card-wrapper projects-card-wrapper">
				{ otherProjects.map(async (project) => {
					const { Content } = await render(project);
					return (
						<CardProjects
							slug={project.slug}
							href={project.data.href}
							title={project.data.title}
							thumb={project.data.thumb.src}
							createDate={project.data.createDate}
							finishDate={project.data.finishDate}
							categories={project.data.categories}
							featured={project.data.featured}
							collab={project.data.collab}
							Nsfw={project.data.Nsfw}
							Dd={project.data.Dd}
							icons={project.data.icons}
							>
								<Content />
							</CardProjects>
						)
					}
				)}
			</div>
		</section>

	</main>

</Layout>

