---
import Layout from '../../layouts/Layout.astro';
import CardProjects from '../../components/cards/CardProjects.astro';
import Pagination from '../../components/Pagination.astro';
import '../../utility/styles/main-styles.css';
import '../../utility/styles/wrapper=styles.css';

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";

import { sortEntries, sortByCreationDate, sortByUploadDate } from '../../utility/utils';

const projects = await getCollection("projects");
export const getStaticPaths = (async ( { paginate } ) => {
    return paginate(projects, {
        pageSize: 4,
    })
}) satisfies GetStaticPaths;

const { page } = Astro.props;

// const byUploadDate = sortByUploadDate(entries);

---


<Layout title="ARCHIVE">

<main>

	<ul role="list">
		<div class="grid-masonry">
			{ projects.map((project) =>
				<CardProjects
					slug={project.slug}
					href={project.data.href}
					title={project.data.title}
					desc={project.data.desc}
					createDate={project.data.createDate}
					finishDate={project.data.finishDate}
					categories={project.data.categories}
					featured={project.data.featured}
					collab={project.data.collab}
					Nsfw={project.data.Nsfw}
					Dd={project.data.Dd}
					icons={project.data.icons}
					/>
			)}
		</div>

	</ul>

	<!-- <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} /> -->

	</main>

</Layout>

