---

import NewsletterLayout from '../../layouts/NewsletterLayout.astro';

import type { GetStaticPaths } from 'astro';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import { slugify } from '../../utility/scripts/format-fxn';

export const getStaticPaths = (async () => {
	const newsletter = await getCollection("newsletters");
	return newsletter.map((news : any) => ({
    	params: { slug: news.slug },
    	props: { 
				 news, 
				 ...news.data },
	}));
}) satisfies GetStaticPaths;

const newsletter = await getCollection("newsletters");

const { news, title, date } = Astro.props;
const { slug } = Astro.params;

const newsByDate = newsletter.sort((a, b) => b.data.date.valueOf() - a.data.date!.valueOf());

const currentIndex = newsByDate.findIndex(news => news.slug === Astro.params.slug);
const currentPage = newsByDate[currentIndex];
const previousPage = currentIndex + 1 === newsByDate.length ? undefined : newsByDate[currentIndex + 1];
const nextPage = currentIndex === 0 ? undefined : newsByDate[currentIndex - 1];
const firstPage = newsByDate[0];
const lastPage = newsByDate[newsByDate.length - 1];

import { formatDate } from '../../utility/scripts/format-fxn';

import '../../utility/styles/main-styles.css'
import '../../utility/styles/card-styles.css'

const { Content } = await render(news)

---

<NewsletterLayout>

	<div class="card-wrapper">

			<h1 class="card-title">
				<i class="fas fa-envelope"></i> {formatDate(date)}
			</h1>
			<div class="card-body">
				<article>
					<h1 class="newsletter-title">
						<span>{title}</span>
						<span>{formatDate(date)}</span>
					</h1>
					<Content/>
				</article>
			</div>

		<nav>
        
			{
				currentIndex == 0 ? (
					<i class="fas fa-angle-double-left disabled"></i>    
				) : (
					<a href={`/newsletter/${firstPage.slug}`}><i class="fas fa-angle-double-left" role="img" aria-label="first page"></i></a>
			)}
			{
				nextPage ? (
					<a href={`/newsletter/${nextPage.slug}`}><i class="fas fa-angle-left" role="img" aria-label="previous page"></i></a>     
				) : (
					<i class="fas fa-angle-left disabled"></i>
				)
			}
	
			<span>{formatDate(date)}</span>
		
			{
				previousPage ? (
					<a href={`/newsletter/${previousPage.slug}`}><i class="fas fa-angle-right" role="img" aria-label="next page"></i></a>
				) : (
					<i class="fas fa-angle-right disabled"></i>
			)}
		
			
			{
				lastPage == currentPage ? (
					<i class="fas fa-angle-double-right disabled"></i>
				) : (
					<a href={`/newsletter/${lastPage.slug}`}><i class="fas fa-angle-double-right" role="img" aria-label="last page"></i></a> 
			)}
		</nav>


	</div>

</NewsletterLayout>

<style>

	.card-wrapper {
		padding-inline: 1em;
		max-width: 800px;
		margin: auto;
	}

	strong a {
		font-weight: 100 !important;
	}
	
    nav {
        font-family: var(--display-font);
        margin: 3em auto 5em auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    i {
        font-size: 1.125rem;
        padding-top: 0.625em;
        font-weight: bold;
    }

    nav span {
        font-size: 1.5rem;
    }

    nav a {
        transition: var(--link-transition);
    }

    nav a:hover {
        color: var(--primary-accent-600)
    }

	.card-body article {
		margin-top: 1.5em;
	}

    .disabled {
        opacity: 0%;
    }

</style>