---
import { getCollection } from "astro:content";
const affiliates = await getCollection("affiliates");
const banners = affiliates.filter((affiliate => affiliate.data.type === "banner"));
const buttons = affiliates.filter((affiliate => affiliate.data.type === "button"));
const groupButton = affiliates.filter((affiliate => affiliate.data.type === "group button"));

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/cards/Card.astro';
import CardFolder from "../../components/cards/CardFolder.astro";
import { Image } from "astro:assets";

import '../../utility/styles/main-styles.css';

---

<Layout title="RUDY TUESDAY">

    <main>
		
        <section>
			<h2>LINKS</h2>

			<div class="card-wrapper card-flex">

				<Card
					title="ONLINE"
					icon="fa-globe">
						<ul>
							<li><b>FEDIVERSE:</b> 
								<ul>
									<li><b>BARAAG.NET:</b> <a href="https://baraag.net/@rudytuesday" aria-label="external">@rudytuesday</a> <em>(inactive)</em></li>
									<li><b>FREAKSONLY.SPACE:</b> <a href="https://freaksonly.space/@rudytuesday" aria-label="external">@rudytuesday</a> <em>(inactive)</em></li>
									<li><b>AETHY.COM:</b> <a href="" aria-label="external">@rudytuesday</a></li>
									<li><b>BLORBO.SOCIAL:</b> <a href="https://blorbo.social/@dollby" aria-label="external">@dollby</a> <em>(inactive)</em></li>
									<li><b>BLUESKY BRIDGE:</b> <em style="font-style:normal">@rudytues.day@bsky.brid.gy</em></li>
								</ul>
							<li><b>BLUESKY:</b> <a href="https://bsky.app/profile/rudytues.day" aria-label="external">@rudytues.day</a></li>
							<li><b>TWITTER:</b> <a href="https://twitter.com/wifefactory" aria-label="external">@wifefactory</a></li>
							<li><b>RETROSPRING:</b> <a href="https://retrospring.net/@rudytuesday" aria-label="external">@rudytuesday</a></li>
							<li><b>AO3:</b> <a href="" aria-label="external">rudytuesday</a> <em>(inactive)</em></li>
							<li><b>DREAMWIDTH:</b> <a href="https://rudytuesday.dreamwidth.org/" aria-label="external">rudytuesday</a> <em>(inactive)</em></li>
							<li><b>COHOST:</b> <a href="https://toybox.rudytues.day/pages/cohost/" aria-label="external">@rudytuesday</a></li>
							<li><b>KO-FI:</b> <a href="https://ko-fi.com/dollby" aria-label="external">dollby</a></li>
							<li><b>THRONE:</b> <a href="https://throne.com/dollby" aria-label="external">dollby</a></li>
							<li><b>BOOSTY:</b> <a href="https://boosty.to/rudytuesday" aria-label="external">rudytuesday</a></li>
							<li><b>ARTISTREE:</b> <a href="https://artistree.io/rudytuesday" aria-label="external">rudytuesday</a></li>
							<li><b>COMMISS.IO:</b> <a href="https://commiss.io/rudytuesday" aria-label="external">rudytuesday</a> <em>(inactive)</em></li>
							<li><b>ITCH.IO:</b> <a href="https://itch.io/profile/rudytuesday" aria-label="external">rudytuesday</a></li>
						</ul>
				</Card>

				<Card
					title="MY SITES"
					icon="fa-code">
						<ul>
							<li><a href="https://rudytues.day">rudytues.day</a></li>
							<li><a href="https://ux.rudytues.day">ux.rudytues.day</a></li>
							<li><a href="https://works.rudytues.day">works.rudytues.day</a></li>
							<li><a href="https://toybox.rudytues.day">toybox.rudytues.day</a></li>
							<li><a href="https://toybox.rudytues.day/dollby">toybox.rudytues.day/dollby</a></li>
							<!-- <li><a href="" aria-label="external">dollfreaks.neocities.com</a></li> -->
						</ul>
				</Card>

			</div>

		</section>

		<section>

			<h2>RESOURCES</h2>

			<div class="folder-wrapper">

				<CardFolder
					tabTitle="WEB DESIGN"
					index={true}>

					<h3>GETTING STARTED</h3>
						<ul>
							<li><a href="">nero's quick'n'dirty personal website guide</a> an easy to follow guide for getting your personal site up and running with tons of resources</li>
							<li><a href="https://htmlforpeople.com/">html for people</a></li>
							<li><a href="https://sadgrl.online/" aria-label="external">sadgrl.online</a> a great resource for beginners with tons of free code and templates</li>
						</ul>

					<h3>GENERAL EDUCATION</h3>
						<ul>
							<li><a href="https://www.w3schools.com/default.asp" aria-label="external">w3schools</a> a beginner friendly online resource for all things related to web development</li>
							<li><a aria-label="external" href="https://www.youtube.com/@KevinPowell">kevin powell's youtube channel</a> the youtube guy who helped me fall deeply, madly in love with css</li>
							<li><a aria-label="external" href="https://archive.org/details/SteveKrugDontMakeMeThink">don't make me think</a> the ux textbook that inspired me to pursue web development</li>
							<li><a aria-label="external" href="https://practicaltypography.com/">practical typography</a> an online typography textbook</li>
						</ul>

					<h3>CODE & LAYOUTS</h3>
						<ul>
							<li><a href="https://github.com/swyxio/spark-joy" aria-label="external">spark joy</a></li>
							<li><a href="https://uiverse.io/" aria-label="external">uiverse</a> a community-built library of ui elements</li>
						</ul>

					<h3>OTHER</h3>
						<ul>
							<li><a href="https://github.com/swyxio/spark-joy" aria-label="external">spark joy</a> design tools to add charm to your website</li>
							<li><a href="https://uiverse.io/" aria-label="external">uiverse</a> open source ui elements</li>
							<li><a href="https://rarebit.neocities.org/" aria-label="external">rarebit</a> an open source webcomic template</li>
							<li><a href="https://realtimecolors.com/" aria-label="external">realtime colors</a> a color palette visualizer</li>
							<li><a aria-label="external" href="https://knifequeerart.com/">knifequeerart's gallery template</a></li>
							<li><a aria-label="external" href="https://kmclaude.com/">k.m. claude's gallery template</a></li>
							<li><a href="https://scumsuck.com/links#web" aria-label="external">scumsuck's web resources</a> you should spend some time on scumsuck's site anyway</li>
						</ul>

				</CardFolder>

				<CardFolder
					tabTitle="ART & COMICS"
					index={false}>

					<h3>COLOR THEORY & PALETTES</h3>
						<ul>
							<li><a href="https://stuff.veekun.com/pkcolor/" aria-label="external">purple kecleon's brief explanation of color theory</a></li>
							<li><a href="https://www.design-seeds.com/" aria-label="external">design seeds</a> inspiration and color palettes for all who love color</li>
							<li><a href="https://coolors.co/" aria-label="external">coolors</a> a color palette generator</li>
						</ul>

					<h3>COMICS</h3>
						<ul>
							<li><a href="" aria-label="external">understanding comics</a></li>
							<li><a href="https://archive.org/details/comicbookdesign0000mill" aria-label="external">comic book design</a> by gary spencer millidge, creator of strangehaven</li>
							<li><a href="https://comicsdevices.com/" aria-label="external">the creator's guide to comics devices</a></li>
						</ul>

					<h3>OTHER</h3>
						<ul>
							<li><a href="https://hedgiespresso.itch.io/quarter-zine" aria-label="external">1/4 fold-over zine template</a></li>
							<li><a href="https://tofupixel.tumblr.com/post/753826462739611648/so-you-want-to-learn-pixel-art" aria-label="external">so you want to learn pixel art?</a></li>
							<li><a href="https://docs.google.com/spreadsheets/d/1s_VxE-T96rIxA6Pc4_-hze_S0CyzHYPF/edit?gid=2093176756#gid=2093176756" aria-label="external">commission pricing worksheet</a> don't sell yourself short!</li>
						</ul>

				</CardFolder>

				<CardFolder
					tabTitle="ASSETS & DOWNLOADS"
					index={false}>

					<h3>BRUSHES</h3>
						<ul>
							<li><a href="https://assets.clip-studio.com/en-us/detail?id=1870475" aria-label="external">mameo pencil</a> <em>(clip studio paint)</em></li>
							<li><a href="https://assets.clip-studio.com/ja-jp/detail?id=2090040" aria-label="external">homemade rainbow colored pencil</a> <em>(clip studio paint)</em></li>
							<li><a href="https://assets.clip-studio.com/en-us/detail?id=1972956" aria-label="external">mirre's cross hatch brush set</a> <em>(clip studio paint)</em></li>
						</ul>

					<h3>FONTS</h3>
						<ul>
							<li><a href="https://www.dafont.com/">da font</a></li>
							<li><a href="https://mangafonts.carrd.co/" aria-label="external">manga font directory</a></li>
							<li><a href="https://blambot.com/collections/all-fonts" aria-label="external">blambot</a></li>
							<li><a href="https://itch.io/c/2892190/fonts" aria-label="external">not jam's pixel fonts</a></li>
							<li><a href="https://www.bombingscience.com/80-free-graffiti-fonts/" aria-label="external">80 free graffiti fonts</a></li>
						</ul>

					<h3>OTHER</h3>
						<ul>
							<li><a href="https://www.truegrittexturesupply.com/" aria-label="external">true grit texture supply</a> </li>
							<li><a href="https://www.culturehustleusa.com/products/freetone" aria-label="external">stuart semple's freetone</a> the pantone color palette for free (unless you work for adobe)</li>
							<li><a href="https://assets.clip-studio.com/en-us/detail?id=2070226" aria-label="external">null's gradient set</a> <em>(clip studio paint)</em></li>
						</ul>

				</CardFolder>

				<CardFolder
					tabTitle="OTHER"
					index={false}>

					<h3>PRESERVATION</h3>
						<ul>
							<li><a href="https://thetransfemininereview.com/2024/11/13/a-practical-guide-to-resisting-censorship/" aria-label="external">the trans literature preservation project: a practical guide to resisting censorship</a></li>
						</ul>

					<h3>ONLINE SAFETY</h3>
						<ul>
							<li><a href="https://www.kradeelav.com/cancelled-resources.html">kradeelav's cancelled resources</a> krad is a dear friend of mine who created a critical resource page for artists facing harassment campaigns</li>
							<li><a href="https://www.youtube.com/watch?v=wmVkJvieaOA" aria-label="external">the alt-right playbook</a> never play defense</li>
							<li><a href="http://www.crashoverridenetwork.com/coach.html">crash override's automated cybersecurity helper</a></li>
							<li><a href="https://github.com/Qwaxi-Lixard/yes-porn-allowed" aria-label="external">yes porn allowed</a> a list of sites and services that don't ban adult content</li>
							<li><a href="https://docs.google.com/document/d/1615pZB11BhsR0KtvyiXfzfMUBlxZi47HzzhWHIRpxwU/edit?tab=t.0" aria-label="external">anonymize your online footprint</a></li>
							<li><a href="">have i been pwned</a> a site that allows you to check if your email has been compromised in a data breach</li>
							<li><a href="https://everestpipkin.github.io/image-scrubber/" aria-label="external">image scrubber</a></li>
						</ul>

					<h3>SEX & KINK</h3>
						<ul>
							<li><a href="https://www.evilmonk.org/a/menu.cfm" aria-label="external">evilmonk.org</a></li>
							<li><a href="https://jirosworld.com/transgender/TransGuys-cliniq-safers.pdf" aria-label="external">cruising: a trans guy's guide to the gay sex scene</a></li>
						</ul>

				</CardFolder>

			</div>

	</section>

	<section>
			
		<h2>OTHER</h2>
		
		<div class="card-wrapper">
			<Card
				title="NICETIES"
				icon="fa-gift">
				
				<h3>WEB</h3>
					<ul>
						<li><a aria-label="external" href="http://digitoxin.github.io/snowworld/">snow world</a> a first-person walking sim through yume nikki's snow world</li>
						<li><a aria-label="external" href="https://molleindustria.org/everydaythesamedream/everydaythesamedream.html">every day the same dream</a> a game about alienation and refusal of labour</li>
						<li><a aria-label="external" href="https://www.heavendeluxe.com/scraps/shapequiz">heaven deluxe's shape quiz</a> find out what you are shaped like</li>
						<li><a href="http://tane.us/ac" aria-label="external">tane.us/ac</a> a tane.us web toy that plays animal crossing ost by the hour</li>
						<li><a href="https://makefrontendshitagain.party/" aria-label="external">make frontend shit again</a> remember when frontend was fun?</li>
						<li><a href="https://www.thisman.org/" aria-label="external">thisman.org</a> every night throughout the world hundreds of people dream about this face</li>
						<li><a href="http://www.truegamer.net/SA_911/911%20SATHREAD/" aria-label="external">somethingawful wtc thread</a> site captures from somethingawful on the morning of 9/11</li>
						<li><a href="http://anipike.asie.pl/" aria-label="external">anime web turnpike</a> your #1 guide to the anime and manga internet world</li>
						<li><a href="http://catb.org/esr/jargon/" aria-label="external">the jargon file</a></li>
						<li><a href="https://gutterotica.com/" aria-label="external">gutterotica manifesto</a> fuck art or die</li>
					</ul>
				<h3>VIDEO</h3>
					<ul>
						<li><a aria-label="external" href="https://www.skolnickfilms.com/the-music-of-erich-zann">the music of erich zann</a> a film adaptation of lovecraft by jared skolnick</li>
						<li><a href="https://www.catsuka.com/player/hd/vulvine_reine_d_extase" aria-label="external">vulvine reine d'extase</a> a formerly underground erotic student film</li>
						<li><a href="https://www.youtube.com/watch?v=_wubgAIiWpY" aria-label="external">big egg</a> elman511 cracks open the big egg</li>
					</ul>
			</Card>

			<Card
				title="AFFILIATES"
				icon="fa-heart">
					<div class="affiliate flex-wrap">
						{ banners.map((banner) => {
							return <a href={banner.data.url}>
								<Image
									src={banner.data.image.src}
									alt={`${banner.data.name} banner`}
								/>
							</a>
						})}
						</div>

						<div class="affiliate flex-wrap">
							{ buttons.map((button) => {
								return <a href={button.data.url}>
									<Image
										src={button.data.image.src}
										alt={`${button.data.name} banner`}
									/>
								</a>
							})}
						</div>
						<div class="affiliate flex-wrap">
							{ groupButton.map((button) => {
								return <a href={button.data.url}>
									<Image
										src={button.data.image.src}
										alt={`${button.data.name} banner`}
									/>
								</a>
							})}
						</div>
					</div>
			</Card>
		</div>

	</section>

	</main>

</Layout>

<style>

	.card-wrapper {
		margin: 3em auto;
		height: 100%;
		gap: 1.25em;
		display: flex;
		flex-direction: column;
	}

	.card-flex {
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		gap: 1.25em;
	}

	.flex-wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1em;
		margin: 1em;
	}

	h3 {
		text-align: left;
		margin-block: 1.5em 1em
	}

	h3:first-child {
		margin-block: 1em;
	}

@media all and (min-width: 700px) {

	.card-wrapper {
		max-width: 900px;
	}
}

</style>
<script>

window.addEventListener("DOMContentLoaded", () => {
        const tabList = document.querySelector('[role="tablist"]');
        const tabs = tabList!.querySelectorAll(':scope > [role="tab"]');

    // Add a click event handler to each tab
        tabs.forEach((tab) => {
            tab.addEventListener("click", changeTabs);
        });

    // Enable arrow navigation between tabs in the tab list
    // if read hash switch to specific tab
    // s 
    // check
        let tabFocus = 0;

        // 

        tabList!.addEventListener("keydown", (e) => {
            // Move right
            let keyboardEvent = (e as KeyboardEvent);
            if (keyboardEvent.key === "ArrowRight" || keyboardEvent.key === "ArrowLeft") {
                tabs[tabFocus].setAttribute("tabindex", "-1");
                if (keyboardEvent.key === "ArrowRight") {
                    tabFocus++;
                // If we're at the end, go to the start
                    if (tabFocus >= tabs.length) {
                        tabFocus = 0;
                    }
                // Move left
            } else if (keyboardEvent.key === "ArrowLeft") {
                tabFocus--;
                // If we're at the start, move to the end
                if (tabFocus < 0) {
                tabFocus = tabs.length - 1;
                }
            }

            tabs[tabFocus].setAttribute("tabindex", "0");
            (tabs[tabFocus] as HTMLElement).focus();
            }
        });

    function changeTabs(e) {
        const targetTab = e.target;
        
        const tabList = targetTab.parentNode;
        const tabGroup = tabList.parentNode;

    // Remove all current selected tabs
        tabList
            .querySelectorAll(':scope > [aria-selected="true"]')
            .forEach((t) => t.setAttribute("aria-selected", false));

    // Set this tab as selected
        targetTab.setAttribute("aria-selected", true);

    // Hide all tab panels
        tabGroup
            .querySelectorAll(':scope > [role="tabpanel"]')
            .forEach((p) => p.setAttribute("hidden", true));

    // Show the selected panel
        tabGroup
            .querySelector(`#${targetTab.getAttribute("aria-controls")}`)
            .removeAttribute("hidden");

        }
        
    })



</script>

