---
import Header from '../components/Navbar.astro';
import Tags from '../components/Tags.astro';
import Footer from '../components/Footer.astro';
import '../utility/reset.css';
import '../utility/scripts/format-fxn.js';
import '../utility/styles/main-styles.css';
import '../utility/styles/aside-styles.css';

import '../utility/styles/scrollbox-styles.css';

interface Props {
  pageTitle: string;
}

const { pageTitle = "ARCHIVE" } = Astro.props;

// import { tagsByFrequency } from '../utility/scripts/sort-fxn.js';
import { getCollection } from 'astro:content';
const entries = await getCollection("entries");

import { sortByUploadDate } from '../utility/scripts/sort-fxn.js';
import { formatDate } from '../utility/scripts/format-fxn.js';

import CardConstruction from '../components/cards/CardConstruction.astro';
// const sortedTags = [... new Set(allTags.sort(sortByFrequency).toReversed().flat())];
// const allTags = entries.map((entry => 
// 	entry.data.tags)).reduce((accumulator, value) => accumulator.concat(value), [])

// console.log(tagsByFrequency(allTags))

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml+ico" href="/favicon.ico" />

		<title>{pageTitle}</title>

		<!-- <ArchiveMetaData/> -->
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

	</head>
	
	<body>

		<Header />

		<div class="left-column">

			<main>
				<CardConstruction>
					<h1>ARCHIVE</h1>
				</CardConstruction>
				<slot />
			</main>

			<aside>
				<div class="column-wrapper">
					<a href="/archive">
						<div class="image viewport"></div>
					</a>
					<div class="uploads">
						<h2>RECENT UPLOADS</h2>
						<ul class="scrollbox scrollbox-dark scrollbox-l">
							{
								entries.sort(sortByUploadDate).map((entry) =>
								<li>
									<a href={`/archive/entries/${entry.slug}/`}><b>{formatDate(entry.data.date)}</b> : {entry.data.title}
										<div class="icons">
												{ entry.data.Nsfw && <i class="fas fa-ban" role="img" aria-label="adult content"></i> }
												{ entry.data.Dd && <i class="fas fa-feather" role="img" aria-label="dead dove"></i> }
												{ entry.data.uploadDate > new Date("2024-12-01") && <i class="fas fa-sparkles" role="img" aria-label="dead dove"></i> }
										</div>
									</a>
								</li>
								)
							}
						</ul>
					</div>
					<div class="column-wrapper">
						<h2>TAGS</h2>
						<Tags />
					</div>
				</div>
			</aside>

		</div> 
		
		<Footer />
		
	</body>
</html>

<style>

	h1 {
		font-family: var(--display);
		text-align: center;
		font-size: 2rem;
		margin-block: 0.5em 0.75em;
	}
	
	main {
		margin: auto;
		width: 100%;
		position: relative;
	}

	main::before,
	main::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;
	}

	main::before {
		margin-block: 0.25em 3em;
	}

	main::after {
		bottom: 0;
		margin-block: 3em 0.25em;
	}

	.image {
		display: none;
	}


	@media all and (min-width: 720px) {}
	
	@media all and (min-width: 1000px) {

	.left-column {
		display: grid;
		grid-template-areas:
			'sidebar main';
		grid-template-columns: 400px 1fr;
		gap: 0;
		grid-template-rows: max-content 1fr max-content;
	}

	main {
		grid-area: main;
		margin: 0 auto;
	}

	aside {
		grid-area: sidebar;
	}

	main::after {
		position: absolute;
	}

	.image {
		display: block;
		/* margin: 3rem auto; */
		background-color: white;
		height: 150px;
		width: 150px;
		border-radius: 100%;
	}

}

</style>
