---
interface Props {
  pageTitle?: string;
  description?: string;
  ogimg?: ImageMetadata;
  url?: string;
}

const { pageTitle = "ASKBOX",
		description = "look upon my works, ye mighty, and despair",
		ogimg = previewImage,
		url = "https://rudytues.day/archive"
	} = Astro.props;

import { getCollection } from 'astro:content';
const questions = await getCollection("questions");
const faqQ = questions.filter(q => q.data.faq === true);

import '../utility/reset.css'
import Footer from '../components/Footer.astro';
import Header from '../components/Navbar.astro';
import CardFolder from "../components/cards/CardFolder.astro";
import ToTop from '../components/ToTop.astro';
import MetaTags from '../components/MetaTags.astro';
import ThemeSwitch from '../components/ThemeSwitch.astro';
import MainContent from '../components/MainContent.astro';

import '../utility/styles/main-styles.css';
import '../utility/styles/form-styles.css';
import '../utility/styles/root-variables.css';

import previewImage from '../utility/image/preview_card.png';

import { sortByUploadDate, tagsByFrequency } from '../utility/scripts/sort-fxn.js';
import { slugify, formatDate } from '../utility/scripts/format-fxn.js';

import { render } from 'astro:content';

---

<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml+ico" href="/favicon.ico" />

		<title>{pageTitle}</title>

		<script is:inline>
        
			if (localStorage.getItem("ageVerified") == null) {
				window.location.href = `/landing?returnto=${window.location}`; 
			}

			if (window.matchMedia && 
			window.matchMedia('(prefers-color-scheme: dark)').matches &&
			!localStorage.hasOwnProperty('theme')) {
				document.documentElement.setAttribute('data-theme', "dark");
				localStorage.setItem("data-theme", "dark")
			} else {
				let theme = localStorage.getItem("theme")
				document.documentElement.setAttribute('data-theme', `${theme}`)
			}
			
		</script>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	
		<MetaTags
			title={pageTitle}
			description={description}
			ogimg={ogimg}
			url={url}
		/>

		<link
			rel="alternate"
			type="application/rss+xml"
			title="RUDY TUESDAY"
			href={new URL("rss.xml", Astro.site)}
		/>

	</head>
    <body>
		
		<MainContent />
		<ThemeSwitch />
		<Header />
		<main id="main-content">

				<div class="two-column">
					<div>
						<h1><a href="/askbox">ASKBOX</a></h1>
						<div class="askbox-wrapper">
							<div class="folder">
								<CardFolder
									tabTitle="ASK"
									index={true}
									id="">
									<div class="askbox">
										<form
											action="https://formspree.io/f/xnnaeobz"
											method="POST"
											class="ask"
											>
											<div class="form-flex">
												<label for="name">NAME</label>
												<input
													type="text"
													name="name"
													id="name"
												/>
											</div>
											<div class="form-flex">
													<label for="email">EMAIL</label>
													<input
														type="email"
														name="email"
														id="email"
														/>
												</div>
											<label for="question">QUESTION</label>
												<textarea
													class="ask"
													name="question"
													id="question"
													rows="5"
													required=""
													aria-required="true"
													></textarea>
											<button type="submit">SEND</button>
										</form>
											<p style="text-align: center">fields denoted with a <i class="fas fa-asterisk"></i> are required.</p>
										<ul class="tags tag-cloud tag-cloud-card">
											{ tagsByFrequency(questions)
												.filter(tag => tag !== undefined)
												.map((tag) => {
												return (
													<li class="tag"><a href={`/askbox/tagged/${slugify(tag)}`}>{tag}</a></li>
												)
											})}
										</ul>
									</div>
								</CardFolder>
								<CardFolder
									tabTitle="FAQ"
									index={false}
									id="faq">
									{ faqQ.map(async (q) => {
										const { Content } = await render(q);
											return (
												<div class="faq-wrapper">
													<Content />
												</div>
											)
										})
									}
									<div class="faq-wrapper">
										<blockquote><p></p></blockquote>
										<p></p>
									</div>
									
								</CardFolder>
							</div>
						</div>
					</div>

					<div>
						<slot name="h1-header"></slot>
						<slot />
					</div>
				</div>

			<slot name="pagination"/>

		</main>
		<ToTop/>
		
		<Footer />

    </body>

</html>

<style>

		h1 {
			margin-top: 0;
			margin-bottom: 1.75em;
		}

	    .two-column {
            margin: 4.5em 1em;
            display: grid;
            gap: 3em;
        }

		.faq-wrapper {
			margin-bottom: 2.25em;
		}

		@media all and (min-width: 1000px) {

    .two-column {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
		grid-template-rows: repeat(2fr, fit-content);
        align-items: start;
		margin: 4.5em 3em 0em 3em;

    }
}

</style>

<script>
	import lastQs from '../pages/askbox/lastQ.json';
	const random = lastQ => lastQ[Math.floor(Math.random() * lastQ.length)]
	const lastQA = random(lastQs);
	const lastQ = lastQA.q
	const lastA = lastQA.a

	const faqWrapper = document.getElementById("faq")?.querySelector(".folder-body")?.lastElementChild
	const faqBQ = faqWrapper?.querySelector("blockquote p")
	const faqP = faqWrapper?.lastElementChild
	faqBQ!.textContent = lastQ
	faqP!.textContent = lastA
	
</script>
