---
import '../../utility/reset.css';
import '../../utility/styles/main-styles.css';

import viewport from '../../utility/image/viewport4.png';

import Image from 'astro/components/Image.astro';
// import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import LandingLayout from '../../layouts/LandingLayout.astro';
import Card from '../../components/cards/Card.astro';

import CardConstruction from '../../components/cards/CardConstruction.astro';

import '../../utility/styles/scrollbox-styles.css';
import { sortByUploadDate } from "../../utility/scripts/sort-fxn";
import { formatDate } from "../../utility/scripts/format-fxn";

const entries = await getCollection("entries");
const newsletters = await getCollection("newsletters");
const feeds = [...entries, ...newsletters].sort(sortByUploadDate);

interface feeds {
    title: string;
    description: string;
    date: Date;
    thumb?: ImageMetadata;
    slug?: string;
    Nsfw?: boolean;
    Dd?: boolean;
}

console.log(feeds[0].data)
---

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    
    <title>RUDY TUESDAY</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">    

    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
        
</head>

<body>
    <h1>RSS FEEDS</h1>

    <p style="center-text">my rss feeds are currently under construction.</p>
        <p>there will be two feeds, one for my art archive and another for my newsletter, so you can subscribe to either or both.</p>
        <p>in the meantime, here is a list of everything that will appear between both feeds.</p>
    <!-- copy and paste the urls below into your newsreader to subscribe.

    <p><b>HTTPS://RUDYTUES.DAY<br/>
        HTTPS://RUDYTUES.DAY/ARCHIVE</b></p> -->

    <h1>UPDATES</h1>

<div class="scrollbox scrollbox-dark scrollbox-rss">
    <ul class="rss">
        {feeds.map((update) =>
            <li>
                { update.data.thumb != null ?
                    (
                    <a href={`/archive/entries/${update.slug}`}>
                        <Image src={update.data?.thumb.src}
                                alt=""
                                class="thumb"
                            />
                    </a>
                    <div class="content">
                        <a href={`/archive/entries/${update.slug}`}>
                            <h2>
                                <div>
                                    {update.data.title}
                                    {update.data.Nsfw && <i class="fas fa-ban"></i>}
                                    {update.data.Dd && <i class="fas fa-feather"></i>}
                                </div>
                                <div>{formatDate(update.data.uploadDate)}</div>
                            </h2>
                        </a>
                        <p class="description">{update.data.description}</p>
                    </div>
                    ) : (
                    <a href={`/newsletter/${update.slug}`}>
                        <Image src={viewport}
                                alt=""
                                class="image"
                            />
                    </a>
                        <div class="content">
                            <a href={`/newsletter/${update.slug}`}>
                                <h2>
                                    <div>{update.data.title}</div>
                                    <div>{formatDate(update.data.uploadDate)}</div>
                                </h2>
                            </a>
                            <p class="description">{update.data.description}</p>
                    </div>

                    )
                }
            </li>
            )}
    </ul>
</div>
</body>
    <style>

        h1 {
            margin-block: 1em;
        }
    
        body {
            color: #fff;
            background-color: var(--primary-clr-dark); 
            padding: 1.5em;
            text-align: center;
        }

        h2 {
            font-size: 1.325rem;
            margin-bottom: 0.5em;
            width: 100%;
            line-height: 1.3;
        }

        h2 i {
            font-size: 0.9em;
        }

        .content {
            width: 100%;
            display: grid;
        }

        .scrollbox {
            margin-bottom: 3em;
            width: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            padding: 1.5em 1em;
            
        }

        .description {
            margin-block: 0.5em;
            text-align: center;
        }

        .image,
        .thumb {
            width: 75px;
            height: auto;
            margin: 0.25em auto 0.75em auto;
        }
        .thumb {
            border-radius: 0.5em;
        }

        @media all and (min-width: 700px) {

            .scrollbox-rss {
                max-width: 800px;
            }

            body {
                margin: auto;
                display: grid;
                place-items: center;
            }

            h2 {
                text-align: left;
                display: flex;
                justify-content: space-between;
                line-height: 1;
            }

            li {
                display: flex;
                gap: 1.5em;
                padding: 1em;
                align-items: center;
            }

            .description {
                text-align: left;
            }
            
        }

    </style>


    <script>

    const verifyageButton = document.getElementById("verifyage-button") as HTMLInputElement;
    const verifyageCheckbox = document.getElementById("verifyage-checkbox") as HTMLInputElement;
        
    verifyageButton?.addEventListener("click", () => {
        // let url: URL = new URL(window.location.href);
        if (verifyageCheckbox?.checked) {
            localStorage.setItem("ageVerified", "✓");
            if (window.location.search.startsWith("?returnto=")) {
                window.location.href = window.location.search.substring("?returnto=".length);
            } else {
                window.location.href = "/";
            }
        } else {
            alert("you must be 18 years or older to submit");
        }
    });

    </script>
    
    </body>
</html>
